In [18]:
from pathlib import Path
import pathlib


import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow import metrics
from keras import optimizers
from tensorflow.keras.utils import plot_model

from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import linear_kernel

In [12]:
# data loading
data_dir = './Data/MovieLen'
data_path = pathlib.Path(data_dir)

ratings = pd.read_csv(data_path / 'rating.csv')
movies = pd.read_csv(data_path / 'movie.csv')

ratings = ratings[:100000]

len(ratings)

100000

In [13]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
len(ratings['movieId'].unique())

26744

In [14]:
# Data prepartion
pd.crosstab(ratings.userId, ratings.movieId).head()

movieId,1,2,3,4,5,6,7,8,9,10,...,117511,117590,118354,118696,118900,118997,119141,125916,128488,128594
userId,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
top_k = 15

g = ratings.groupby("userId")["rating"].count()
top_k_users = g.sort_values(ascending=False)[:top_k]

g = ratings.groupby("movieId")['rating'].count()
top_k_movies = g.sort_values(ascending = False)[: top_k]

top_r = ratings.join(top_k_users, rsuffix="-r", how = "inner", on = 'userId')

top_r

       userId  movieId  rating            timestamp  rating-r
11454     104       14     1.0  1999-12-11 12:56:43       998
11455     104       17     3.0  1999-12-11 16:13:33       998
11456     104       21     3.0  1999-12-12 12:44:48       998
11457     104       25     4.0  1999-12-12 12:55:57       998
11458     104       28     3.0  1999-12-11 13:01:39       998
...       ...      ...     ...                  ...       ...
93784     648     8464     4.0  2004-07-07 11:05:04       904
93785     648     8492     5.0  2004-07-07 11:07:37       904
93786     648     8493     3.5  2004-07-07 11:07:13       904
93787     648     8623     3.5  2004-07-07 11:06:34       904
93788     648     8636     4.5  2004-07-07 11:04:57       904

[17588 rows x 5 columns]

In [16]:
top_r = top_r.join(top_k_movies, rsuffix = '-r', how = "inner", on = "movieId")
top_r

       userId  movieId  rating            timestamp  rating-r  rating-r
11488     104      150     2.0  1999-12-12 12:41:03       998       235
11513     104      260     3.0  1999-12-11 15:44:20       998       264
11524     104      296     3.0  1999-12-11 12:19:51       998       350
11532     104      318     3.0  1999-12-11 16:13:33       998       305
11579     104      527     5.0  1999-12-11 16:12:22       998       247
...       ...      ...     ...                  ...       ...       ...
93002     648      593     5.0  2000-11-20 06:13:18       904       295
93029     648      780     3.0  2000-11-20 06:01:10       904       234
93093     648     1210     4.0  2000-11-20 05:30:50       904       233
93347     648     2571     2.0  2001-04-15 09:43:04       904       253
93401     648     2858     5.0  2000-11-20 05:41:10       904       238

[187 rows x 6 columns]

In [17]:
pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.sum)

C:\Users\omarm\AppData\Local\Temp\ipykernel_7992\366748944.py:1: FutureWarning: The provided callable <function sum at 0x00000243D7948360> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.sum)

movieId,1,110,150,260,296,318,356,480,527,589,593,780,1210,2571,2858
userId,,,,,,,,,,,,,,,
104,NaN,NaN,2.0,3.0,3.0,3.0,NaN,NaN,5.0,NaN,3.0,NaN,NaN,1.0,2.0
116,3.0,4.5,3.0,4.5,4.5,4.5,4.0,4.0,4.0,4.0,3.0,1.0,5.0,4.0,4.5
156,5.0,5.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
208,4.0,3.5,5.0,4.5,5.0,4.5,1.0,4.5,4.5,2.5,4.5,4.0,4.0,3.0,3.5
298,4.0,5.0,3.0,5.0,4.0,5.0,3.0,4.0,3.0,5.0,4.0,4.0,5.0,5.0,5.0
348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,3.5,4.5,NaN,4.0
359,5.0,3.5,4.0,5.0,5.0,5.0,4.5,4.0,5.0,5.0,5.0,3.0,5.0,3.0,4.0
394,NaN,2.5,4.0,4.0,5.0,3.0,NaN,2.0,3.0,4.0,5.0,1.0,3.0,5.0,5.0
424,NaN,4.5,NaN,3.5,NaN,4.5,3.0,4.0,NaN,3.5,NaN,4.0,4.0,4.5,NaN
572,5.0,NaN,5.0,NaN,5.0,4.0,5.0,5.0,NaN,3.5,4.5,5.0,NaN,4.0,4.5
586,2.5,4.5,3.0,3.5,5.0,5.0,3.5,3.0,5.0,5.0,3.5,3.5,3.5,4.5,3.5
587,5.0,NaN,NaN,4.0,4.0,5.0,5.0,4.0,NaN,5.0,5.0,4.5,2.0,5.0,5.0
614,3.0,5.0,3.5,4.0,2.0,NaN,3.5,3.0,3.5,3.0,3.5,3.0,4.0,4.0,4.0
632,NaN,NaN,3.0,3.0,4.5,3.0,2.5,4.0,3.0,4.0,5.0,2.0,2.0,4.0,4.0
648,4.0,4.0,4.0,2.0,5.0,5.0,3.0,4.0,NaN,5.0,5.0,3.0,4.0,2.0,5.0

In [20]:
# encoding UserId and movieId so they have continous ids

user_enc = LabelEncoder()
ratings['userId'] = user_enc.fit_transform(ratings['userId'].values)
n_users = ratings['userId'].nunique()

movie_enc = LabelEncoder()
ratings['movieId'] = user_enc.fit_transform(ratings['movieId'].values)
n_movies = ratings['movieId'].nunique()

ratings['rating'] = ratings['rating'].astype(np.float32)
min_rating = min(ratings['rating'])
max_rating = max(ratings['rating'])

min_rating, max_rating, n_users, n_movies

(0.5, 5.0, 702, 8227)

In [22]:
# Splitting Data into inputs and labels
X = ratings[["userId", "movieId"]].values
y = ratings['rating'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.9)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, train_size = 0.8)

print(f"Training Split : {X_train.shape, y_train.shape}")
print(f"Validation Split : {X_valid.shape, y_valid.shape}")
print(f"Testing Split : {X_test.shape, y_test.shape}")

Training Split : ((72000, 2), (72000,))
Validation Split : ((18000, 2), (18000,))
Testing Split : ((10000, 2), (10000,))

In [40]:
# Network Architc


#User branch
embedding_size = 50

# User Embeddings
user = keras.layers.Input(shape = (1), name = "user_id")
user_embedding = keras.layers.Embedding(n_users, embedding_size, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "user_embeddings")(user)
user_embedding = keras.layers.Reshape((embedding_size,))(user_embedding)

# User bias
user_bias = keras.layers.Embedding(n_users, 1, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "user_bias")(user)
user_bias = keras.layers.Reshape((1,))(user_bias)


#Movie branch

# Movie Embeddings
movie = keras.layers.Input(shape = (1), name = "movie_id")
movie_embedding = keras.layers.Embedding(n_movies, embedding_size, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "movie_embeddings")(movie)
movie_embedding = keras.layers.Reshape((embedding_size,))(movie_embedding)

# Movie bias
movie_bias = keras.layers.Embedding(n_movies, 1, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "movie_bias")(movie)
movie_bias = keras.layers.Reshape((1,))(movie_bias)
                       
# Calculating Ratings
rating = keras.layers.Dot(axes = 1, name = "Similarity_Measure")([user_embedding, movie_embedding])

# Adding bias
rating = keras.layers.Add()([rating, user_bias, movie_bias])
rating = keras.layers.Activation(activation="sigmoid", name = "rating_rescaling")(rating)
rating = keras.layers.Lambda(lambda x : x*(max_rating - min_rating) + min_rating)(rating)


# Model 
model_1_LF_50 = keras.models.Model([user, movie], rating)

model_1_LF_50.compile(loss = "mse", metrics=metrics.RootMeanSquaredError(), optimizer= optimizers.Adam(lr = 0.001))

print(model_1_LF_50.summary())

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 user_id (InputLayer)        [(None, 1)]                  0         []

 movie_id (InputLayer)       [(None, 1)]                  0         []

 user_embeddings (Embedding  (None, 1, 50)                35100     ['user_id[0][0]']
 )

 movie_embeddings (Embeddin  (None, 1, 50)                411350    ['movie_id[0][0]']
 g)

 reshape_12 (Reshape)        (None, 50)                   0         ['user_embeddings[0][0]']

 reshape_14 (Reshape)        (None, 50)                   0         ['movie_embeddings[0][0]']

 user_bias (Embedding)       (None, 1, 1)                 702       ['user_id[0][0]']

 movie_bias (Embedding)      (None, 1, 1)                 8227      ['movie_id[0][0]']

 Similarity_Measure (Dot)    (None, 1)                    0         ['reshape_12[0][0]',
                                                                     'reshape_14[0][0]']

 reshape_13 (Reshape)        (None, 1)                    0         ['user_bias[0][0]']

 reshape_15 (Reshape)        (None, 1)                    0         ['movie_bias[0][0]']

 add_3 (Add)                 (None, 1)                    0         ['Similarity_Measure[0][0]',
                                                                     'reshape_13[0][0]',
                                                                     'reshape_15[0][0]']

 rating_rescaling (Activati  (None, 1)                    0         ['add_3[0][0]']
 on)

 lambda_3 (Lambda)           (None, 1)                    0         ['rating_rescaling[0][0]']

==================================================================================================
Total params: 455379 (1.74 MB)
Trainable params: 455379 (1.74 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________
None

In [41]:
history = model_1_LF_50.fit(x = [X_train[:, 0], X_train[: , 1]],
                    y = y_train,
                    batch_size = 64,
                    verbose= 1,
                    epochs = 20,
                    validation_data=([X_test[:,0], X_test[:,1]], y_test))

Epoch 1/20
1125/1125 [==============================] - 8s 6ms/step - loss: 1.3495 - root_mean_squared_error: 1.1604 - val_loss: 0.9756 - val_root_mean_squared_error: 0.9837
Epoch 2/20
1125/1125 [==============================] - 8s 7ms/step - loss: 0.8384 - root_mean_squared_error: 0.9075 - val_loss: 0.8249 - val_root_mean_squared_error: 0.8970
Epoch 3/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.6732 - root_mean_squared_error: 0.8045 - val_loss: 0.7969 - val_root_mean_squared_error: 0.8754
Epoch 4/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.5529 - root_mean_squared_error: 0.7192 - val_loss: 0.7984 - val_root_mean_squared_error: 0.8706
Epoch 5/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.4551 - root_mean_squared_error: 0.6404 - val_loss: 0.8121 - val_root_mean_squared_error: 0.8733
Epoch 6/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.3786 - root_mean_squared_error: 0.5703 - val_loss: 0.8356 - val_root_mean_squared_error: 0.8821
Epoch 7/20
1125/1125 [==============================] - 8s 7ms/step - loss: 0.3211 - root_mean_squared_error: 0.5101 - val_loss: 0.8590 - val_root_mean_squared_error: 0.8913
Epoch 8/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.2789 - root_mean_squared_error: 0.4600 - val_loss: 0.8835 - val_root_mean_squared_error: 0.9016
Epoch 9/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.2477 - root_mean_squared_error: 0.4182 - val_loss: 0.9042 - val_root_mean_squared_error: 0.9102
Epoch 10/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.2245 - root_mean_squared_error: 0.3833 - val_loss: 0.9256 - val_root_mean_squared_error: 0.9195
Epoch 11/20
1125/1125 [==============================] - 8s 7ms/step - loss: 0.2070 - root_mean_squared_error: 0.3544 - val_loss: 0.9443 - val_root_mean_squared_error: 0.9277
Epoch 12/20
1125/1125 [==============================] - 8s 7ms/step - loss: 0.1940 - root_mean_squared_error: 0.3308 - val_loss: 0.9600 - val_root_mean_squared_error: 0.9346
Epoch 13/20
1125/1125 [==============================] - 7s 7ms/step - loss: 0.1840 - root_mean_squared_error: 0.3109 - val_loss: 0.9739 - val_root_mean_squared_error: 0.9408
Epoch 14/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.1763 - root_mean_squared_error: 0.2949 - val_loss: 0.9886 - val_root_mean_squared_error: 0.9475
Epoch 15/20
1125/1125 [==============================] - 7s 7ms/step - loss: 0.1699 - root_mean_squared_error: 0.2806 - val_loss: 0.9980 - val_root_mean_squared_error: 0.9517
Epoch 16/20
1125/1125 [==============================] - 8s 7ms/step - loss: 0.1649 - root_mean_squared_error: 0.2694 - val_loss: 1.0072 - val_root_mean_squared_error: 0.9559
Epoch 17/20
1125/1125 [==============================] - 8s 8ms/step - loss: 0.1608 - root_mean_squared_error: 0.2595 - val_loss: 1.0152 - val_root_mean_squared_error: 0.9596
Epoch 18/20
1125/1125 [==============================] - 7s 7ms/step - loss: 0.1576 - root_mean_squared_error: 0.2516 - val_loss: 1.0237 - val_root_mean_squared_error: 0.9636
Epoch 19/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.1545 - root_mean_squared_error: 0.2442 - val_loss: 1.0287 - val_root_mean_squared_error: 0.9659
Epoch 20/20
1125/1125 [==============================] - 7s 6ms/step - loss: 0.1521 - root_mean_squared_error: 0.2382 - val_loss: 1.0378 - val_root_mean_squared_error: 0.9703

In [42]:
# trying different emdedding sizes
embedding_size = 40

# User Embeddings
user = keras.layers.Input(shape = (1), name = "user_id")
user_embedding = keras.layers.Embedding(n_users, embedding_size, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "user_embeddings")(user)
user_embedding = keras.layers.Reshape((embedding_size,))(user_embedding)

# User bias
user_bias = keras.layers.Embedding(n_users, 1, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "user_bias")(user)
user_bias = keras.layers.Reshape((1,))(user_bias)


#Movie branch

# Movie Embeddings
movie = keras.layers.Input(shape = (1), name = "movie_id")
movie_embedding = keras.layers.Embedding(n_movies, embedding_size, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "movie_embeddings")(movie)
movie_embedding = keras.layers.Reshape((embedding_size,))(movie_embedding)

# Movie bias
movie_bias = keras.layers.Embedding(n_movies, 1, embeddings_regularizer= keras.regularizers.l2(10e-6), name = "movie_bias")(movie)
movie_bias = keras.layers.Reshape((1,))(movie_bias)
                       
# Calculating Ratings
rating = keras.layers.Dot(axes = 1, name = "Similarity_Measure")([user_embedding, movie_embedding])

# Adding bias
rating = keras.layers.Add()([rating, user_bias, movie_bias])
rating = keras.layers.Activation(activation="sigmoid", name = "rating_rescaling")(rating)
rating = keras.layers.Lambda(lambda x : x*(max_rating - min_rating) + min_rating)(rating)


# Model 
model_2_LF_40 = keras.models.Model([user, movie], rating)

model_2_LF_40.compile(loss = "mse", metrics=metrics.RootMeanSquaredError(), optimizer= optimizers.Adam(lr = 0.001))

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

In [43]:
history = model_2_LF_40.fit(x = [X_train[:, 0], X_train[: , 1]],
                    y = y_train,
                    batch_size = 32,
                    verbose= 1,
                    epochs = 10,
                    validation_data=([X_valid[:,0], X_valid[:,1]], y_valid))

Epoch 1/10
2250/2250 [==============================] - 13s 5ms/step - loss: 1.2303 - root_mean_squared_error: 1.1071 - val_loss: 0.8955 - val_root_mean_squared_error: 0.9402
Epoch 2/10
2250/2250 [==============================] - 11s 5ms/step - loss: 0.7937 - root_mean_squared_error: 0.8811 - val_loss: 0.8136 - val_root_mean_squared_error: 0.8897
Epoch 3/10
2250/2250 [==============================] - 12s 5ms/step - loss: 0.6615 - root_mean_squared_error: 0.7965 - val_loss: 0.8002 - val_root_mean_squared_error: 0.8767
Epoch 4/10
2250/2250 [==============================] - 11s 5ms/step - loss: 0.5493 - root_mean_squared_error: 0.7161 - val_loss: 0.8068 - val_root_mean_squared_error: 0.8751
Epoch 5/10
2250/2250 [==============================] - 12s 5ms/step - loss: 0.4496 - root_mean_squared_error: 0.6356 - val_loss: 0.8245 - val_root_mean_squared_error: 0.8799
Epoch 6/10
2250/2250 [==============================] - 12s 5ms/step - loss: 0.3713 - root_mean_squared_error: 0.5629 - val_loss: 0.8531 - val_root_mean_squared_error: 0.8913
Epoch 7/10
2250/2250 [==============================] - 12s 5ms/step - loss: 0.3150 - root_mean_squared_error: 0.5029 - val_loss: 0.8808 - val_root_mean_squared_error: 0.9027
Epoch 8/10
2250/2250 [==============================] - 12s 5ms/step - loss: 0.2749 - root_mean_squared_error: 0.4541 - val_loss: 0.9083 - val_root_mean_squared_error: 0.9144
Epoch 9/10
2250/2250 [==============================] - 12s 5ms/step - loss: 0.2461 - root_mean_squared_error: 0.4144 - val_loss: 0.9343 - val_root_mean_squared_error: 0.9258
Epoch 10/10
2250/2250 [==============================] - 12s 5ms/step - loss: 0.2264 - root_mean_squared_error: 0.3842 - val_loss: 0.9578 - val_root_mean_squared_error: 0.9363

In [59]:
# Model evaluation on testing data
y_preds_1 = model_1_LF_50.predict([X_test[:, 0], X_test[: , 1]])
y_preds_2 = model_2_LF_40.predict([X_test[:, 0], X_test[: , 1]])

313/313 [==============================] - 0s 901us/step
313/313 [==============================] - 0s 867us/step

In [71]:
user_id = pd.Series(X_test[:,0])
movie_id = pd.Series(X_test[:, 1])
actual_rating = pd.Series(y_test)
predictions_model_1_LF_50 = pd.Series(y_preds_1.reshape(10000))
predictions_model_2_LF_40 =- pd.Series(y_preds_2.reshape(10000))

In [72]:
dict = {"userId" :user_id,
        "movieId" : movie_id,
        "ratings" : actual_rating,
        "predictions_model_1_LF_50" : predictions_model_1_LF_50,
        "predictions_model_2_LF_40" : predictions_model_2_LF_40}

predictions = pd.DataFrame(dict)

In [74]:
predictions.head(40)

,userId,movieId,ratings,predictions_model_1_LF_50,predictions_model_2_LF_40
0,630,6730,3.5,3.061637,-3.525019
1,563,3645,5.0,3.494477,-3.726115
2,649,3908,3.0,3.580866,-3.610754
3,23,497,2.0,1.315119,-3.423610
4,631,389,2.0,2.116646,-2.730416
5,207,2162,4.0,3.833312,-3.703948
6,103,1054,3.0,2.576988,-1.997699
7,297,202,3.0,4.375248,-2.716926
8,257,6365,2.5,2.084016,-1.281837
9,553,2204,5.0,3.125151,-3.369891
10,297,2376,3.0,2.578445,-2.434563
11,270,1505,3.0,1.629191,-2.533846
12,257,286,5.0,4.664470,-4.427454
13,377,3508,3.0,3.304602,-3.372308
14,53,1020,3.0,4.297853,-3.729424
15,294,240,3.0,3.040727,-2.669523
16,560,4781,4.0,4.606297,-4.571383
17,97,1957,4.5,3.896543,-3.804890
18,450,905,3.5,3.646822,-3.782111
19,423,2220,3.5,2.375788,-2.079906
20,57,3833,4.0,3.516633,-3.567241
21,374,1006,5.0,4.266697,-3.897841
22,507,5167,4.5,3.535493,-3.217509
23,631,736,2.0,2.695212,-2.736486
24,242,186,2.0,2.344092,-2.322968
25,10,7084,4.0,3.875002,-4.038142
26,608,1221,4.5,4.469633,-4.611409
27,137,3286,3.0,3.109599,-3.886762
28,515,42,3.0,3.108919,-3.278820
29,53,2614,4.0,4.036513,-2.677716
30,115,587,1.0,1.934484,-2.054888
31,553,1158,5.0,4.884568,-4.451124
32,284,3465,4.0,3.095935,-3.806108
33,358,6352,3.0,2.839515,-2.330772
34,268,1334,1.0,4.444607,-4.151211
35,107,232,2.0,2.575618,-2.618876
36,366,2051,2.5,3.661098,-3.048476
37,189,5011,4.0,4.010890,-4.166457
38,515,344,4.0,4.171714,-3.154664
39,293,2999,4.0,3.583858,-2.736188